<mat-toolbar color="primary" class="app-header">
  <div><a routerLink="/" class="positronx">BetterHelp</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="/" routerLinkActive="active">Log in</a>
    <a mat-button  mat-raised-button routerLink="aboutus" routerLinkActive="active">About Us</a>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>

<br><br>


  <br><br>
  <br><br>

    <h3>To face the financial crisis happening in Lebanon, institutions, municipalities and some rich people are helping those in need.
    <br>We always hear about some families in need who haven’t received their portion of aid due to the disorganized way of distribution.</h3>

    <h2> <b>How can we achieve equal and fair distribution of aid to all those in need? </b></h2>

  <h3>This is where this web app plays a vital part in solving this dilemma. </h3>


<br><br>
<div> <img src='../../assets/img/aboutus.jpeg' align='center'> </div>


<footer>
<h4 align="right"> <b>In case of any desire to help financially, please refer to the municipality officials<br>
   of your town,who will guide you the steps to become an independent delegator. </b></h4>
</footer>
